@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*font-family: "Playfair Display", serif;*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #3c007d;
    padding: 16px 0;
    /*1rem 0*/
}

header h1 {
    color: rgb(206, 150, 230);
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav {
    background-color: rgb(206, 150, 230);
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: rgb(239, 239, 239);
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgb(206, 150, 230);
}

nav ul li a .activo {
    background-color: rgb(206, 150, 230);
}

footer {
    background-color: #d5c7e9;
    clear: both;
    color: #aa74a0;
    text-align: center;
    padding: 5px 0;
    /*3rem 0*/
    margin-top: 20px;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: rgb(206, 150, 230);
    font-weight: 400;
}

/*inicio home*/
.bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: rgba(228, 199, 228, 0.679);

}

.testimonios {
    width: 45%;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: rgba(37, 0, 37, 0.567);

}

.columnas {
    display: flex;
    justify-content: space-between;
}

.bienvenidos p {
    font-size: 20px;
}

.testimonial {
    background-color: #b094ad;
    padding: 16px;
    font-size: 22px;
}

.testimonial p {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    background-color: rgba(143, 0, 121, 0.492);
    display: block;
}

.testimonial span {
    font-size: 10px;
    text-align: center;
    background-color: rgb(241, 237, 204);
    display: block;
    margin: 12px 0;
}
/*fin home*/
/*inicio nosotros*/
.historía p {
    font-size: 12px;
}


.personas {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    width: 100%;
    /* o más si estás usando un contenedor limitado */
}


.persona img {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);


}

.persona {
    border: 1px solid #ff76f886;
    border-radius: 10px;
    width: 18%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;

}



.persona h5,
.persona h6 {
    margin: 0;
    font-weight: bold;
    color: rgb(206, 150, 230);
}

.persona h5 {
    font-size: 14px;
    margin-top: 5px;
}

.persona h6 {
    font-size: 11px;
    font-style: italic;
}

.persona p {
    font-size: 13px;
    text-align: center;
    font size: 10px;
    color: #666;
}







/*fin nosotros*/

/*ínicio servicios*/

.Servicio {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
}

.Servicio .info h4 {
    color: #002550;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 10px;
}

.Servicio .info p {
    font-size: 13px;
    line-height: 19px;
    color: oklab(6.765000000000001% -0.00596 -0.02058 / 0.763);
}
.Servicio img {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.Servicio:nth-child(even) {
    flex-direction: row-reverse;
}

/*final servicios*/
/*inicio galeria*/



.galerias {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center; /* o start, según tu preferencia */
}

.galeria {
  width: 300px; /* o 30%, según el diseño */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 10px;
  box-sizing: border-box;
}




.galeria img {
    width: 150px;
    height: 150px;

    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.Servicio:nth-child(even) {
    flex-direction: row-reverse;
}
